<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Logowanie</h3>
          <form (ngSubmit)="zaloguj()">
            <div class="form-group">
              <label for="login">Login:</label>
              <input type="text" id="login" [(ngModel)]="uzytkownik.login" name="login" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="haslo">Hasło:</label>
              <input type="password" id="haslo" [(ngModel)]="uzytkownik.haslo" name="haslo" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Zaloguj</button>
          </form>
          <p *ngIf="loginError" class="text-danger">Błędny login lub hasło</p>
          <p>Nie masz jeszcze konta? <a href="/register">Zarejestruj się</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
