<div class="container d-flex flex-column align-items-center justify-content-center">
    <h2 class="mt-4">Wybierz grobowiec który chcesz odwiedzić</h2>
  
   
    <div *ngIf="zajeteGroby.length > 0" class="mt-3">
      <table class="table table-custom">
        <thead>
          <tr>
            <th>Id Grobu</th>
            <th>Cena</th>
            <th>Lokalizacja</th>
            <th>sektor</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grob of zajeteGroby">
            <td>{{ grob.idGrobowiec }}</td>
            <td>{{ grob.cena }} zł</td>
            <td>
              {{ grob.lokalizacja }}
            </td>
            <td>{{ grob.sektor }}</td>
            <td><a class="odw" (click)="odwiedzGrobow(grob.idGrobowiec)"><b>Odwiedź</b></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  