<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Cmentarzex</h1>
        <h4 class="lead fw-normal">Najlepsza strona do zarządzania cmentarzem w Polsce
            <h4 class="fs-6">
                Certyfikowana przez nikogo ;D
            </h4>
        </h4>
        <a class="btn btn-outline-secondary">
            Wkrotce
        </a>

    </div>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center w-50 text-white overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Nasz cmentarz</h2>
            <p class="lead">Mrozi krew wiadomo gidze</p>
            <img src="https://64.media.tumblr.com/31993c4ac659876389c890ca15869f9d/tumblr_pzl96p8Qcn1y7ei2ho1_1280.gif">
        </div>
    </div>
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center w-50 overflow-hiddenk">
        <div class="my-3 p-3">
            <h2 class="display-5">Nasze nagrobki</h2>
            <p class="lead">Wyryj na nich co chcesz.</p>
            <img src="assets/grob.png">
        </div>

    </div>
</div>