<div class="dcontainers  ">
  <h2 class="text-center">Podaj swoje dane aby zapisać się jako odwiedzajacy</h2>
  <h4 class="text-muted text-center">Zapisanie pozwoli na odwiedzenie grobów</h4>

  <form [formGroup]="odwiedzajacyForm" (ngSubmit)="dodajOdwiedzajacy()">

    

    <div class="form-group imie ">
      <label for="imie">Imię</label>
      <input type="text" class="form-control" id="imie" formControlName="imie">
      <div *ngIf="odwiedzajacyForm.get('imie')?.invalid && odwiedzajacyForm.get('imie')?.touched" class="text-danger">
        Imię jest wymagane.
      </div>
    </div>

    <div class="form-group nazwisko ">
      <label for="nazwisko">Nazwisko</label>
      <input type="text" class="form-control" id="nazwisko" formControlName="nazwisko">
      <div *ngIf="odwiedzajacyForm.get('nazwisko')?.invalid && odwiedzajacyForm.get('nazwisko')?.touched" class="text-danger">
        Nazwisko jest wymagane.
      </div>
    </div>
    <div class="form-group">
      <input type="hidden" formControlName="czyZapalilZnicz" [value]="true">
    </div>
    <br>
    <button type="submit" class="btn btn-primary text-center">Dodaj</button>
  </form>
</div>
