<div class="container mt-5">
    <h1 class="display-4 text-center">Historia Cmentarzex</h1>
    <p class="lead  text-center">
        Nasz wirtualny cmentarz zrzesza miejsca pochówku z Orzesza, Świerklan i Katowic, pełniąc ważną rolę jako miejsce pamięci i kulturowego dziedzictwa.
    </p>
    <div class="row mt-4">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="row g-0">
                    
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Nasz cmentarz</h3>
                           <p class="card-text">
                                Nasz wirtualny cmentarz został stworzony jako miejsce pamięci dla miejsc pochówku z Orzesza, Świerklan i Katowic. Od momentu powstania pełni istotną rolę jako platforma, która umożliwia przechowywanie wspomnień o naszych bliskich oraz jako miejsce kulturowego i historycznego znaczenia.
                            </p>
                            <p class="card-text">
                                Cmentarz ten jest miejscem refleksji, zadumy oraz zachowania tradycji naszej społeczności. Przez lata stał się ważnym elementem naszej kultury i dziedzictwa.
                            </p>
                            <h2 class="h4">Historia Cmentarza</h2>
                            <p>
                                Wirtualny cmentarz powstał w 2023 jako inicjatywa społeczna mająca na celu udogodnienie działań związanych z cmentarzami. Od tego czasu stał się miejscem zbierania historii, wspomnień i <b>pomaga wielu osoba w znalezieniu swoich zmarłych krewnych</b>
                            </p>
                            
                            <h2 class="h4">Znaczenie Cmentarza</h2>
                            <p>
                                Cmentarz ma ogromne znaczenie dla naszej społeczności. To nie tylko miejsce pochówku, ale także centrum tradycji, pamięci i kulturowego dziedzictwa. Opisując znaczenie cmentarza, możemy podkreślić jego rolę jako miejsca, gdzie celebrowane są ceremonie, przekazywane są wartości i zachowywana jest nasza tożsamość kulturowa.
                            </p>
                            <h2 class="h4">Współpraca z Instytucjami Kulturalnymi</h2>
                            <p>
                                 Nasza platforma współpracuje z lokalnymi instytucjami kulturalnymi i archiwami, aby gromadzić i udostępniać wartościowe zasoby związane z historią naszego regionu. Dzięki temu nasz wirtualny cmentarz staje się bardziej kompleksowym źródłem wiedzy.
                            </p>
                             <h2 class="h4">Zrównoważona Przyszłość</h2>
                            <p>
                                Jesteśmy zaangażowani w dbanie o ekologiczną i zrównoważoną przyszłość naszego wirtualnego cmentarza, promując praktyki takie jak cyfrowe archiwizowanie i minimalizowanie zużycia zasobów.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="assets/zdj.png" class="img-fluid rounded-start" alt="Zdjęcie cmentarza">
                    <h4 class="card-title">Daty</h4>
                  
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h5 class="mb-0">Dołączenie Cmentarza:</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Orzesze:</strong> 1.05.2023
                                </li>
                                <li class="list-group-item">
                                    <strong>Katowice:</strong> 11.07.2023
                                </li>
                                <li class="list-group-item">
                                    <strong>Świerklany:</strong> 21.04.2023
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <strong>Pierwszy pochówek obsłużony przez nas:</strong> 1.05.2023
                        </li>
                        <li class="list-group-item">
                            <h5 class="mb-0">Twórcy:</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Piotr Świder</strong> 
                                </li>
                                <li class="list-group-item">
                                    <strong>Michał Motyka</strong>
                                </li>
                               
                    
                            </ul>
                        </li>
                    </ul>
                    
                  
                </div>
            </div>
        </div>
    </div>
    
</div>
