<div class="header text-center">Wybierz Cmentarz</div>
<div class="container text-center"> 
  <div class="row justify-content-center XD">
    <div class="col-md-6 kart-o">
      <div class="card mb-3 karta" >
        <img src="assets\orszea.jpg" alt="Cmentarz Orzesze" class="obrazek">
        <div class="card-body">
          <h3 class="card-title">Cmentarz Orzesze</h3>
          <a href="/orzesze" class="btn btn-primary card-link float-left">Przejdź do cmentarza Orzesze</a>
        </div>
        <div class="card-body">
          <a [routerLink]="['/zajete']" [queryParams]="{ lokalizacja: 'Orzesze' }" class="btn btn-primary card-link float-left" id="0">Odwiedź grób w Orzeszu</a>
        </div>        
      </div>
    </div>
    <div class="col-md-6 kart-s">
      <div class="card mb-3 karta">
        <img src="assets\swierk.jpg" alt="Cmentarz Świerklany" class="obrazek">
        <div class="card-body">
          <h3 class="card-title">Cmentarz Świerklany</h3>
          <a href="/swierklany" class="btn btn-primary card-link float-left">Przejdź do cmentarza Świerklany</a>
        </div>
        <div class="card-body">
          <a [routerLink]="['/zajete']" [queryParams]="{ lokalizacja: 'Świerklany' }" class="btn btn-primary card-link float-left" id="1">Odwiedź grób w Świerklanach</a>
        </div>        
      </div>
    </div>
  </div>
</div>
