<div class="containers">
  <h2>Dodaj zmarłego</h2>

  <div *ngIf="!isLoggedIn" class="alert alert-warning">
    Aby dodać zmarłego, musisz być zalogowany.
  </div>

  <form [formGroup]="zmarlyForm" (ngSubmit)="dodajZmarlego()" *ngIf="isLoggedIn">
    <div class="form-group">
      <label for="imie">Imię</label>
      <input type="text" class="form-control" id="imie" formControlName="imie">
      <div *ngIf="zmarlyForm.get('Imie')?.invalid && zmarlyForm.get('Imie')?.touched" class="text-danger">
        Imię jest wymagane.
      </div>
    </div>

    <div class="form-group">
      <label for="nazwisko">Nazwisko</label>
      <input type="text" class="form-control" id="nazwisko" formControlName="nazwisko">
      <div *ngIf="zmarlyForm.get('Nazwisko')?.invalid && zmarlyForm.get('Nazwisko')?.touched" class="text-danger">
        Nazwisko jest wymagane.
      </div>
    </div>

    <div class="form-group">
      <label for="dataUrodzenia">Data urodzenia</label>
      <input type="date" class="form-control" id="dataUrodzenia" formControlName="dataUrodzenia">
      <div *ngIf="zmarlyForm.get('DataUrodzenia')?.invalid && zmarlyForm.get('DataUrodzenia')?.touched"
        class="text-danger">
        Data urodzenia jest wymagana.
      </div>
    </div>

    <div class="form-group">
      <label for="dataSmierci">Data śmierci</label>
      <input type="date" class="form-control" id="dataSmierci" formControlName="dataSmierci">
      <div *ngIf="zmarlyForm.get('DataSmierci')?.invalid && zmarlyForm.get('DataSmierci')?.touched" class="text-danger">
        Data śmierci jest wymagana.
      </div>
    </div>

    <div class="form-group">
      <label for="grobowiecID">Grobowiec</label>
      <select class="form-control" id="grobowiecID" formControlName="idGrobowiec" (change)="onGrobowiecChange($event)">
        <option value="">Wybierz grobowiec</option>
        <option *ngFor="let grobowiec of dostepneGrobowce" [value]="grobowiec.idGrobowiec">
          {{ grobowiec.idGrobowiec }} {{ grobowiec.lokalizacja }} {{ grobowiec.cena }}
        </option>
      </select>
      <div *ngIf="zmarlyForm.get('GrobowiecID')?.invalid && zmarlyForm.get('GrobowiecID')?.touched"
        class="text-danger">
        Wybierz grobowiec.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Dodaj</button>
  </form>
</div>
