<h2>Wyszukiwanie grobów</h2>

<form class="sg" (ngSubmit)="wyszukajGroby()">
    <div class="form-row p-lg-5">
      <div class="form-group col-md-3">
        <label class="h5">ID grobu:</label>
        <input class="form-control" type="number" placeholder="idGrobowiec" value="idGrobowiec" [(ngModel)]="idGrobu" name="idGrobu">
      </div>
      <div class="form-group col-md-3">
        <label class="h5">ID właściciela:</label>
        <input class="form-control" type="number" placeholder="idWlasciciel" value="idWlasciciel" [(ngModel)]="idWlasciciel" name="idWlasciciel">
      </div>
      <div class="form-group col-md-3">
        <label class="h5">Lokalizacja:</label>
        <input class="form-control" type="text" placeholder="Lokalizacja" value="Lokalizacja" [(ngModel)]="lokalizacja" name="lokalizacja">
      </div>
      <div class="form-group col-md-3">
        <label class="h5">Cena:</label>
        <input class="form-control" type="number" placeholder="Cena" value="Cena" [(ngModel)]="cena" name="cena">
      </div>
    </div>
    <button class="mx-2" type="submit">Szukaj</button>
  </form>
  
  

<hr>

<div *ngIf="wyniki.length > 0">
  <h3>Wyniki wyszukiwania:</h3>
  <ul>
    <div class="grave-container">
        <div class="grave" *ngFor="let wynik of wyniki">
          <div class="image-container">
            <img src="assets/grob.png" alt="Grob kreskówkowy" class="grave-image">
            <div class="grave-text">
              <h3>Dane grobu</h3>
              <div *ngIf="wynik">
                <p>idGrobowiec: {{ wynik.idGrobowiec }}</p>
                <p>lokalizacja: {{ wynik.lokalizacja }}</p>
                <p>idWlasciciel: {{ wynik.idWlasciciel }}</p>
                <p>czyZajety: {{ wynik.czyZajety }}</p>
                <p>cena: {{ wynik.cena }}</p>
              </div>
             
            </div>
          </div>
        </div>
      
      </div>
      
    