<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Strona Główna Grobowców</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #343f40;
            font-family: Arial, sans-serif;
            color: #ffffff;
        }

        .container {
            margin-top: 20px;
        }

        .jumbotron {
            background-color: #343a40;
            color: #ffffff;
        }

            .jumbotron h1 {
                font-size: 36px;
            }

            .jumbotron p {
                font-size: 18px;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Witaj na Stronie Głównej Grobowców</h1>
            <p>To jest miejsce, gdzie możesz znaleźć informacje o grobach oraz zarządzać nimi.</p>
            <a class="btn btn-primary" href="/Grobowce/WyszukajGroby">Wyszukaj Groby</a>
            <a class="btn btn-success" href="/Grobowce/PobierzWolneGroby">Pobierz Wolne Groby</a>
            <a class="btn btn-secondary" href="/Grobowce/PobierzZmarlychWGrobie">Zobacz kto lezy w wbybranym grobie</a>
            <a class="btn btn-primary" href="/Grobowce/DodajGrobowiec">Dodaj Grobowiec</a>
        </div>
    </div>
</body>
</html>
