.cemetery-map {
    border-collapse: separate;
    border-spacing: 10px;
    background-image: url("src\assets\cmentarz.png");
    background-size: cover;
  }
  
  .cemetery-map td {
    width: 100px;
    height: 100px;
    color:red;
    font-size: 4rem;
    border: 1px solid black;
  }
  
  .cemetery-map .grave {
   
    border-radius: 10%;
   
  }
  .grave-table{
    font-size: 20px;
    border: outset;
    border-color: black;
  }
  
  .cemetery-map .path {
    background-color: white;
  }
  