body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #444654;
}

.header-img {
  display: block;
  margin: 0 auto;
  max-width: 35%;
  height: auto;
  padding: 2rem;
}

.navbar {
  background-color: transparent;

}
.header .navbar-nav .nav-link {
  color: #fff;
  position: relative;
}
.log{
  float: right;
  color:#eaeaea; ;
}

.navbar-nav a:hover {
 
  opacity: 0.8; 
  background-color: #7e8194a6; 
}
.container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.nav-img {
  max-width: 2%;
}
.nav-link {
  cursor: pointer;
}
.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

.body .footer {
  height: 8%;
}
.footer {
  margin-top: auto;
}
.content-separator {
  height: 1px;
  background-color: #eaeaea;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
