<div class="grave pt-2 pb-2">
    <img src="assets/grob.png" alt="Grob kreskówkowy">
    <div class="grave-info">
        <h3>Dane grobu</h3>
        <div *ngIf="grobowiec">
            <p>idGrobowiec: {{ grobowiec.idGrobowiec }}</p>
            <p>lokalizacja: {{ grobowiec.lokalizacja }}</p>
            <p>idWlasciciel: {{ grobowiec.idWlasciciel }}</p>
            <p>czyZajety: {{ grobowiec.czyZajety }}</p>
            <p>cena: {{ grobowiec.cena }}</p>
            <p>Sektor: {{ grobowiec.sektor }}</p>
        </div>
        <div *ngIf="!grobowiec">
            <p>Brak danych grobowca</p>
        </div>
    </div>
    <div class="grass">
        <img src="assets/trawa.jpg" alt="Trawa">
    </div>
</div>