@{
    ViewData["Title"] = "Ilość Odwiedzających";
}

<h2>Ilość Odwiedzających</h2>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p class="text-danger">@ViewBag.ErrorMessage</p>
}

<form method="post">
    <div class="form-group">
        <label for="idGrobowca">ID Grobowca:</label>
        <input type="text" class="form-control" id="idGrobowca" name="idGrobowca">
    </div>
    <button type="submit" class="btn btn-primary">Pokaż Ilość Odwiedzających</button>
</form>
