@using Cmentarz.DAL.Models
@model IEnumerable<Grobowiec>

@{
    ViewData["Title"] = "Wyszukaj Groby";
}

<h2>Wyszukaj Groby</h2>

<form method="get">
    
    <div class="form-group">
        <label for="lokalizacja">Lokalizacja:</label>
        <input type="text" class="form-control" id="lokalizacja" name="lokalizacja">
    </div>
    <div class="form-group">
        <label for="cena">Cena:</label>
        <input type="text" class="form-control" id="cena" name="cena">
    </div>
    <button type="submit" class="btn btn-primary">Szukaj</button>
</form>

@if (Model != null && Model.Any())
{
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                //<th>ID Grobu</th>
                //<th>ID Właściciela</th>
                <th>Lokalizacja</th>
                <th>Cena</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var grob in Model)
            {
                <tr>
                  //  <td>@grob.IdGrobowiec</td>
                    //<td>@grob.IdWlasciciel</td>
                    <td>@grob.Lokalizacja</td>
                    <td>@grob.Cena</td>
                </tr>
            }
        </tbody>
    </table>
}
