<div class="container d-flex flex-column align-items-center justify-content-center">
  <h2 class="mt-4">Lista Wolnych Grobów</h2>

  <!-- Sprawdź, czy są wolne groby do wyświetlenia -->
  
  <div *ngIf="wolneGroby.length > 0" class="mt-3">
    <table class="table table-custom">
      <thead>
        <tr>
          <th>Identyfikator Grobu</th>
          <th>Cena</th>
          <th>Lokalizacja</th>
          <th>sektor</th>
        </tr>
      </thead>
      <tbody>
        <!-- Iteruj przez listę wolnych grobów i wyświetl je -->
        <tr *ngFor="let grob of wolneGroby">
          <td>{{ grob.idGrobowiec }}</td>
          <td>{{ grob.cena }} zł</td>
          <td>
            <a [routerLink]="['/', grob.lokalizacja.toLowerCase().replace('ś', 's')]">{{ grob.lokalizacja }}</a>
          </td>
          <td>{{ grob.sektor }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Przycisk do przeniesienia do kupowania grobowca -->
  <a routerLink="/kupgrobowiec" class="btn btn-outline-secondary">
    Przejdź do kupowania grobowca
</a>
</div>  